.Dictionary section{
background: #F2F2F2;
padding: 30px;
border-radius: 6px;
box-shadow: 0 10px 10px rgb(0 0 0 /20%);
margin: 20px 30px;
}
.Dictionary input{
width: 100%;
padding: 6px 4px;
border:1px solid #E8EBDF;
border-radius: 6px;
box-shadow: 0 10px 10px rgb(0 0 0 /10%);
color: #4D4D4D;
}
.Dictionary h1{
font-weight: bold;
font-size: 24px;
margin-bottom: 15px;
}
.Dictionary .hint{
margin-top: 10px;
font-size: 12px;
}